PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

TASK_STORAGE_MODE=jsonb
#TASK_STORAGE_MODE=relational

# Initial data
SEED_TEST_TASKS=true
SEED_TASKS_DATE=2026-06-03
SEED_TASKS_USER_ID=seed-task-user
SEED_TASKS_FIREBASE_UID=seed-task-user #change to real firebase uid
SEED_TASKS_EMAIL=seed-task-user@example.com
SEED_TASK_TITLE=g
SEED_TASK_DESCRIPTION=
SEED_TASK_COLOR="#4A90E2"