MONGODB_URI=mongodb://localhost:27017/ToDoApp
PORT=3000
NODE_ENV=dev
FRONTEND_URL=http://localhost:5173

TASK_STORAGE_MODE=daily
# TASK_STORAGE_MODE=referenced

SEED_TEST_TASKS=true
SEED_TASKS_DATE=2026-06-03
SEED_TASKS_USER_ID=user-id
SEED_TASKS_FIREBASE_UID=firebase-id
SEED_TASKS_EMAIL=seed-task-user@example.com
SEED_TASKS_DISPLAY_NAME=Seed-task-user
SEED_TASK_TITLE=g
SEED_TASK_DESCRIPTION=
SEED_TASK_COLOR=#4A90E2
